*.trace
..bfg-report
pprof.txt
.dsn
*.svg
*.profile
*.key
idminer
.travis.yml
coverage.txt
analysisVendor.png
vendor/**/.gitignore
*.keystore
node_*/
kayak_test
*.conf
*.ldb
*.db
*.db-shm
*.db-wal
*.ldb
.DS_Store
msgpack-20180824

# Binaries for programs and plugins
bin/
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
bin/*
test/log/
test/covenantsql*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/
