# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

[[override]]
  name = "github.com/rqlite/rqlite"
  source = "https://github.com/thunderdb/rqlite.git"
  branch = "master"
#  revision = "4188c50"

[[override]]
  name = "github.com/thunderdb/rqlite"
  branch = "master"

[[override]]
  name = "github.com/prometheus/client_golang"
  branch = "master"

[[override]]
  name = "github.com/prometheus/node_exporter"
  branch = "master"

[[override]]
  name = "github.com/hashicorp/raft"
  branch = "master"

[prune]
  go-tests = true
  unused-packages = true

